.Projects{
    position: absolute;
    width: 100%;
    padding: 10vh 10vw;
}

.Projects .title{
    width: 100%;
    text-align:center;
}

.Projects .list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Projects .notification{
    width: 100%;
    margin: 100px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    text-align: center;
}

.Projects .notification a{
    color: black;
    font-weight: bold;
}
.Projects .notification a:hover{
    color: blue;
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Projects{
        top: 150px;
        width: 100%;
        padding: 15px;
    }

    .Projects .aditional-text{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Projects{
        top: 400px;
        margin: 100px auto;
    }
}
